################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IocpServer/v14

*.db
*.filters
*.user
